@charset "UTF-8";
:root {
  --color-dark-red: #740003;
  --color-red: #A90004;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #858586;
  --transition-default: all .2s ease;
}

/*
main sizes
@include l-1200
@include m
@include l
*/
/*
 font-d-1
 font-t-1
 font-m-1
@include l
  {
    margin-bottom: 70px;
  }
  @include xm
  {
    margin-bottom: 60px;
    @include font-d-1-5
  }

  @font-face {
  font-family: "Golos";
  src: url("../fonts/Golos-Text_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
  color: var(--color-black);
  font-family: "Raleway", sans-serif;
}

.main {
  min-height: 70vh;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 40px;
}
@media (max-width: 1024px) {
  .main {
    margin-top: 92px;
  }
}
@media (max-width: 767px) {
  .main {
    margin-bottom: 80px;
    padding-top: 24px;
  }
}

.container {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.heading-title {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .heading-title {
    margin-bottom: 32px;
  }
}
.heading-title h1, .heading-title h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .heading-title h1, .heading-title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }
}

.page-banner {
  border-radius: 2px;
  overflow: hidden;
  background-color: #D9D9D9;
  margin-bottom: 64px;
}
.page-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-with-sidebar {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .page-with-sidebar {
    display: block;
  }
}

.page-content h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .page-content h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}
.page-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
}

.page-sidebar {
  flex-shrink: 0;
  width: 310px;
}
@media (max-width: 1024px) {
  .page-sidebar {
    width: 100%;
    margin-top: 64px;
  }
  .page-sidebar .swiper-slide {
    width: 310px;
  }
}
.page-sidebar__title {
  color: var(--color-black);
  text-transform: uppercase;
  margin-bottom: 32px;
}
.page-sidebar__title h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}
@media (max-width: 1024px) {
  .page-sidebar__title {
    margin-bottom: 24px;
  }
}
.page-sidebar__news-card .news-card__date {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-black);
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .page-sidebar__news-card .news-card__date {
    margin-bottom: 8px;
    color: var(--color-gray);
  }
}
.page-sidebar__news-card .news-card__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
}

.icon {
  width: 24px;
  height: 24px;
}

.button {
  display: block;
  cursor: pointer;
  min-width: 168px;
  padding: 16px;
  background-color: var(--color-dark-red);
  border-radius: 2px;
  border: none;
  transition: var(--transition-default);
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  color: var(--color-white);
}
.button:hover {
  background-color: var(--color-red);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 767px) {
  .breadcrumbs {
    margin-bottom: 16px;
  }
}
.breadcrumbs__item a {
  color: var(--color-black);
}
.breadcrumbs__item a:hover {
  color: var(--color-red);
}
.breadcrumbs__item span {
  color: var(--color-dark-red);
}
.news-card__image {
  line-height: 0;
  height: 280px;
  margin-bottom: 12px;
  border-radius: 2px;
  overflow: hidden;
  background-color: var(--color-gray);
}
.news-card__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.news-card__date {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-gray);
  margin-bottom: 8px;
}
.news-card__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
}

.project-card {
  display: block;
  position: relative;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
}
@media (max-width: 767px) {
  .project-card {
    border-top: none;
  }
  .project-card:first-child {
    border-top: 1px solid var(--color-black);
  }
}
.project-card:nth-child(2n) {
  border-left: none;
}
@media (max-width: 767px) {
  .project-card:nth-child(2n) {
    border-left: 1px solid var(--color-black);
  }
}
.project-card:nth-child(n+3) {
  border-top: none;
}
.project-card:hover .project-card__plate {
  transition: all 0.3s ease;
  opacity: 0;
}
.project-card:hover .project-card__name, .project-card:hover .project-card__num, .project-card:hover .project-card__arrow {
  transition: all 0.3s ease;
  color: var(--color-white);
}
.project-card__image {
  line-height: 0;
  height: 100%;
  background-color: var(--color-gray);
}
.project-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card__plate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
}
.project-card__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2509803922);
}
.project-card__name {
  position: absolute;
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  z-index: 3;
  color: var(--color-black);
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
@media (max-width: 767px) {
  .project-card__name {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
  }
}
.project-card__num {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 3;
  color: var(--color-black);
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}
@media (max-width: 767px) {
  .project-card__num {
    line-height: 28px;
  }
}
.project-card__arrow {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 3;
  color: var(--color-dark-red);
}

.cur-project-card__image {
  background-color: var(--color-gray);
  margin-bottom: 24px;
  overflow: hidden;
  border-radius: 2px;
}
.cur-project-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .cur-project-card__image {
    margin-bottom: 12px;
  }
}
.cur-project-card__desc {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-dark-red);
}
.cur-project-card__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .cur-project-card__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.document {
  display: flex;
  align-items: center;
}
.document[href$=".pdf"] .document__icon {
  background-position-x: 0px;
}
.document[href$=".doc"] .document__icon {
  background-position-x: -170px;
}
.document[href$=".txt"] .document__icon {
  background-position-x: -212px;
}
.document[href$=".xls"] .document__icon {
  background-position-x: -43px;
}
.document[href$=".csv"] .document__icon {
  background-position-x: -85px;
}
.document[href$=".ppt"] .document__icon {
  background-position-x: -127px;
}
.document__icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-image: url(../img/docs.png);
  background-size: cover;
}
.document__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-dark-red);
  text-decoration: underline;
}
.document__size {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 8px;
  color: #5A5A5A;
}

.input__label {
  margin-bottom: 8px;
  display: flex;
}
.input__label label {
  pointer-events: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.input__error {
  display: none;
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ff0000;
}
.input__red {
  color: #ff0000;
  font-size: 32px;
  font-weight: 600;
  line-height: 20px;
}
.input input[type=text], .input input[type=email], .input textarea {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #DBDBDB;
  border-radius: 2px;
  font-size: 16px;
  line-height: 28px;
}
.input input[type=text]::placeholder, .input input[type=email]::placeholder, .input textarea::placeholder {
  color: #C8C8C8;
}
.input input[type=text]:hover, .input input[type=email]:hover, .input textarea:hover {
  border: 2px solid var(--color-gray);
}
.input input[type=text]:focus, .input input[type=email]:focus, .input textarea:focus {
  border: 2px solid var(--color-black);
}
.input textarea {
  height: 180px;
  resize: none;
}
.input.error input[type=text], .input.error input[type=email] {
  border: 2px solid #ff0000;
}
.input.error .input__error {
  display: block;
}
.input .custom-select-opener {
  position: relative;
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #DBDBDB;
  background-color: var(--color-white);
  border-radius: 2px;
  font-size: 16px;
  line-height: 28px;
}
.input .custom-select-opener[aria-expanded=true]::after {
  transform: translate(0, -33%) rotate(180deg);
}
.input .custom-select-opener::after {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -75%);
  content: url("../img/arrow-select.svg");
  width: 16px;
  height: 16px;
}
.input .custom-select-opener:hover {
  border: 2px solid var(--color-gray);
}
.input .custom-select-opener:focus {
  border: 2px solid var(--color-black);
}
.input .custom-select-panel {
  background-color: var(--color-white);
  transition: none;
}
.input .custom-select-option {
  cursor: pointer;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 28px;
  border-bottom: 2px solid var(--color-gray);
  border-left: 2px solid var(--color-gray);
  border-right: 2px solid var(--color-gray);
}
.input-file {
  margin-top: 12px;
}
.input-file__link {
  display: flex;
}
.input-file__link-el {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.input-file__link-el span {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  color: var(--color-dark-red);
}
.input-file__link input {
  display: none;
}
.input-file__clip {
  width: 24px;
  height: 24px;
}

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 24px;
  flex-wrap: wrap;
}
.custom-checkbox > span a {
  margin-left: 8px;
  color: var(--color-dark-red);
  text-decoration: underline;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid var(--color-dark-red);
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 50%;
}

/*.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}*/
.custom-checkbox > input:checked + span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 2.15385L6.39381 13L0 6.46154L2.10619 4.30769L6.39381 8.69231L10.6438 4.34615L14.8938 0L17 2.15385Z' fill='black'/%3E%3C/svg%3E");
}

.custom-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  transition: top 0.2s ease;
}
.header__wrap {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__wrap {
    gap: 16px;
  }
}
@media (max-width: 1024px) {
  .header__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header__logo {
  display: block;
  padding: 10px;
  margin: -10px;
  color: var(--color-dark-red);
}
.header__top_menu ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .header__top_menu ul {
    gap: 16px;
  }
}
.header__top_menu li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: -5px;
  padding: 5px;
}
@media (max-width: 1024px) {
  .header__top_menu {
    display: none;
  }
}
.header__button {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1200px) {
  .header__button {
    gap: 10px;
  }
}
@media (max-width: 1024px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1024px) {
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
    padding: 10px;
    margin: -10px;
  }
}
.header__burger .icon-close {
  display: none;
}
.header--active {
  height: 100vh;
  overflow-x: scroll;
}
@media (max-width: 1024px) {
  .header--active .header__mobile-menu {
    display: flex;
  }
}
.header--active .icon-burger-menu {
  display: none;
}
.header--active .icon-close {
  display: block;
}
.header__mobile-menu {
  display: none;
  width: 100%;
  background-color: var(--color-white);
}
@media (max-width: 1024px) {
  .header__mobile-menu {
    margin-top: 44px;
    margin-bottom: 64px;
    flex: 1;
    flex-direction: column;
  }
  .header__mobile-menu_wrap li {
    margin-bottom: 32px;
  }
  .header__mobile-menu_wrap li a {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
    margin: -10px;
  }
  .header__mobile-menu_button {
    padding-top: 32px;
    margin-top: auto;
  }
}
@media (max-width: 767px) {
  .header__mobile-menu {
    margin-top: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-red);
  color: var(--color-white);
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer__wrap {
    gap: 100px;
    padding-top: 20px;
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .footer__wrap {
    gap: 48px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
.footer__logo {
  display: block;
  padding: 10px;
  margin: -10px;
  color: var(--color-white);
}
.footer__contacts {
  text-align: right;
}
@media (max-width: 767px) {
  .footer__contacts {
    text-align: center;
  }
}
.footer__contacts-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.footer__contacts-phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.footer__contacts-phone a {
  padding: 10px;
  margin: -10px;
}
.footer__menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}
@media (max-width: 1200px) {
  .footer__menu ul {
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .footer__menu ul {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.footer__menu li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: -5px;
  padding: 5px;
}
.footer__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}

.last-news__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .last-news__header .last-news__link {
    display: none;
  }
}
.last-news__bottom {
  display: none;
}
@media (max-width: 767px) {
  .last-news__bottom {
    display: block;
    margin-top: 32px;
  }
}
.last-news__title h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .last-news__title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }
}
.last-news__link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.last-news__link .icon {
  color: var(--color-dark-red);
}
.last-news__link:hover {
  color: var(--color-red);
}
.last-news__link:hover .icon {
  color: var(--color-red);
}
.last-news__card {
  width: calc(25% - 25px);
}
@media (max-width: 1200px) {
  .last-news__card {
    width: calc(25% - 4px);
  }
}
@media (max-width: 1024px) {
  .last-news__card {
    min-width: 310px;
    width: 33.3333333333%;
  }
}
.last-news__card:last-child {
  margin-right: 0 !important;
}
.last-news__card--first {
  position: relative;
  height: 380px;
  width: calc(50% - 25px);
  border-radius: 2px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .last-news__card--first {
    height: 310px;
  }
}
.last-news__card--first:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.last-news__card--first .last-news__card-image {
  height: 100%;
}
.last-news__card--first .last-news__card-info {
  color: var(--color-white);
  width: calc(100% - 48px);
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 24px;
}
.last-news__card--first .last-news__card-date {
  color: var(--color-white);
  margin-bottom: 16px;
}
.last-news__card--first .last-news__card-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .last-news__card--first {
    position: relative;
    height: auto;
    width: 33.3333333333%;
    min-width: 310px;
    border-radius: 0;
    overflow: hidden;
  }
  .last-news__card--first:after {
    content: unset;
  }
  .last-news__card--first .last-news__card-image {
    height: 210px;
  }
  .last-news__card--first .last-news__card-info {
    color: inherit;
    width: 100%;
    position: static;
  }
  .last-news__card--first .last-news__card-date {
    color: var(--color-gray);
    margin-bottom: 8px;
  }
  .last-news__card--first .last-news__card-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
.last-news__card-image {
  width: 100%;
  height: 210px;
  border-radius: 2px;
  overflow: hidden;
  background-color: var(--color-gray);
}
@media (max-width: 1200px) {
  .last-news__card-image {
    height: 170px;
  }
}
@media (max-width: 1024px) {
  .last-news__card-image {
    height: 210px;
  }
}
.last-news__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.last-news__card-info {
  margin-top: 16px;
}
.last-news__card-date {
  color: var(--color-gray);
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 1024px) {
  .last-news__card-date {
    margin-bottom: 8px;
  }
}
.last-news__card-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Ограничение в 3 строки */
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-map {
  display: flex;
  gap: 24px;
}
@media (max-width: 1024px) {
  .contact-map {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .contact-map {
    gap: 16px;
  }
}
.contact-map__info {
  flex: 1 0 420px;
  padding: 32px;
  border-radius: 2px;
  background-color: #F6F6F6;
}
@media (max-width: 1024px) {
  .contact-map__info {
    flex: 1;
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .contact-map__info {
    padding: 20px;
  }
}
.contact-map__info-items {
  margin-bottom: 32px;
  display: grid;
  gap: 24px;
  grid-template-areas: "a" "b" "c";
}
@media (max-width: 1024px) {
  .contact-map__info-items {
    grid-template-areas: "b a" "b c";
  }
}
@media (max-width: 767px) {
  .contact-map__info-items {
    grid-template-areas: "a" "b" "c";
  }
}
.contact-map__info-item--1 {
  grid-area: a;
}
.contact-map__info-item--2 {
  grid-area: b;
}
.contact-map__info-item--3 {
  grid-area: c;
}
.contact-map__info-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-red);
  margin-bottom: 4px;
}
@media (max-width: 1024px) {
  .contact-map__info-item-title {
    margin-bottom: 6px;
  }
}
.contact-map__info-item-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
}
.contact-map__info-item-content > * {
  margin-bottom: 12px;
}
.contact-map__info-item-content > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .contact-map__info-item-content > * {
    margin-bottom: 0;
  }
}
.contact-map__info-item-content a {
  color: var(--color-red);
}
.contact-map__info-item-content a:hover {
  color: var(--color-dark-red);
}
.contact-map__map {
  flex: 2 1 916px;
  background-color: var(--color-gray);
  border-radius: 2px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .contact-map__map {
    flex: 1 1 410px;
  }
}
.contact-map__yandex {
  height: 100%;
}
.contact-map__yandex .ymaps-2-1-79-map-copyrights-promo, .contact-map__yandex .ymaps-2-1-79-copyright__wrap {
  display: none;
}

.projects__cards {
  display: flex;
  flex-wrap: wrap;
}
.projects__cards .project-card {
  width: 50%;
}
@media (max-width: 767px) {
  .projects__cards .project-card {
    width: 100%;
  }
}

.hystmodal__window {
  width: auto;
}
@media (max-width: 767px) {
  .hystmodal__window {
    width: 100%;
  }
}

.hystmodal__close {
  width: 48px;
  height: 48px;
  outline: none;
  right: 24px;
  top: 24px;
  outline: none !important;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2045_92)'%3E%3Cpath d='M14.5723 16.4579L16.4579 14.5723L24.0004 22.1147L31.5428 14.5723L33.4284 16.4579L25.886 24.0004L33.4284 31.5428L31.5428 33.4284L24.0004 25.886L16.4579 33.4284L14.5723 31.5428L22.1147 24.0004L14.5723 16.4579Z' fill='black'/%3E%3Ccircle cx='24' cy='24' r='22.5' stroke='%23740003' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2045_92'%3E%3Crect width='48' height='48' fill='white' transform='translate(48 48) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .hystmodal__close {
    right: 16px;
    top: 16px;
  }
}

.modal {
  position: relative;
  padding: 64px;
  padding-top: 96px;
  background-color: var(--color-white);
  border-radius: 2px;
  width: 640px;
}
@media (max-width: 767px) {
  .modal {
    padding: 16px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
  }
}
.modal__top {
  margin-bottom: 24px;
}
.modal__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.modal__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.modal__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-banner {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.main-banner__image {
  position: relative;
  line-height: 0;
}
.main-banner__image img {
  width: 100%;
  height: 100%;
}
.main-banner__image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
}
.main-banner__text {
  max-width: 60%;
  position: absolute;
  bottom: 32px;
  left: 40px;
  z-index: 2;
  color: #fff;
}
@media (max-width: 1024px) {
  .main-banner__text {
    left: 24px;
    max-width: calc(100% - 48px);
  }
}
@media (max-width: 767px) {
  .main-banner__text {
    bottom: 24px;
    left: 16px;
    max-width: calc(100% - 32px);
  }
}
.main-banner__title {
  text-transform: uppercase;
  margin-bottom: 16px;
}
.main-banner__title h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
@media (max-width: 767px) {
  .main-banner__title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  .main-banner__title {
    margin-bottom: 8px;
  }
}
.main-banner__subtitle p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 767px) {
  .main-banner__subtitle p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

.lang {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .lang {
    min-width: 60px;
  }
}
.lang--mobile .lang__inside {
  position: static;
  transform: unset;
  box-shadow: unset;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid var(--color-gray);
}
.lang--mobile .lang__inside .lang__inside-arrow {
  display: none;
}
.lang--mobile .lang__inside .lang__inside-countries {
  padding: 0;
  gap: 16px;
}
.lang--mobile .lang__outside .lang__country-name {
  display: inline !important;
}
.lang--active {
  cursor: default;
}
.lang--active .lang__inside {
  display: block;
}
.lang--active .lang__outside-arrow .icon {
  transform: rotate(180deg);
}
.lang__outside {
  display: flex;
  align-items: center;
  gap: 4px;
}
.lang__outside-arrow {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 4px;
}
.lang__outside-arrow .icon {
  width: 16px;
  height: 16px;
}
@media (max-width: 1200px) {
  .lang__outside > .lang__country .lang__country-name {
    display: none;
  }
}
.lang__inside {
  display: none;
  position: absolute;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1490196078);
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0);
}
.lang__inside-arrow {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 38px;
  height: 14px;
  background-color: var(--color-white);
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3)); /* Тень */
}
.lang__inside-countries {
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lang__inside-countries .lang__country {
  cursor: pointer;
}
.lang__country {
  display: flex;
  align-items: center;
  gap: 8px;
}
.lang__country-flag {
  width: 32px;
  height: 32px;
}
.lang__country-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.index-main .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.news-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}
@media (max-width: 1024px) {
  .news-wrap {
    margin-bottom: -48px;
  }
}
@media (max-width: 767px) {
  .news-wrap {
    margin-bottom: -40px;
  }
}
.news-wrap .news-card {
  width: calc(33.3333333333% - 14px);
  margin-right: 20px;
  margin-bottom: 40px;
}
.news-wrap .news-card:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .news-wrap .news-card:nth-child(3n) {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .news-wrap .news-card:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (max-width: 1024px) {
  .news-wrap .news-card:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .news-wrap .news-card {
    width: calc(50% - 10px);
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .news-wrap .news-card {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
}
.news-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}
@media (max-width: 767px) {
  .news-bottom {
    flex-direction: column-reverse;
    gap: 32px;
  }
}
.news-sort {
  display: flex;
  align-items: center;
}
.news-sort-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
.news-sort-select {
  margin-left: 10px;
}
.news-sort-select select {
  border: none;
  color: var(--color-dark-red);
  width: 54px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}
.news-sort-select .custom-select-container .custom-select-opener {
  width: 60px;
  position: relative;
  background-color: transparent;
  color: var(--color-dark-red);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}
.news-sort-select .custom-select-container .custom-select-opener[aria-expanded=true]::after {
  transform: translate(0, -50%) rotate(180deg);
}
.news-sort-select .custom-select-container .custom-select-opener::after {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.96967 6.21967C4.26256 5.92678 4.73744 5.92678 5.03033 6.21967L9 10.1893L12.9697 6.21967C13.2626 5.92678 13.7374 5.92678 14.0303 6.21967C14.3232 6.51256 14.3232 6.98744 14.0303 7.28033L9.53033 11.7803C9.23744 12.0732 8.76256 12.0732 8.46967 11.7803L3.96967 7.28033C3.67678 6.98744 3.67678 6.51256 3.96967 6.21967Z' fill='black'/%3E%3C/svg%3E");
  width: 18px;
  height: 18px;
}
.news-sort-select .custom-select-container .custom-select-panel {
  transition: none;
  background-color: var(--color-white);
}
.news-sort-select .custom-select-container .custom-select-panel .custom-select-option {
  border: 1px solid var(--color-black);
  border-bottom: none;
  cursor: pointer;
}
.news-sort-select .custom-select-container .custom-select-panel .custom-select-option:last-child {
  border-bottom: 1px solid var(--color-black);
}
.news-paggination {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
.news-paggination-links {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .news-paggination-links {
    display: none;
  }
}
@media (max-width: 767px) {
  .news-paggination-link {
    display: none;
  }
}
.news-paggination-link span {
  color: #A8A8A5;
}
.news-paggination-link a {
  color: var(--color-black);
  text-decoration: underline;
}
.news-paggination-nums {
  display: flex;
  gap: 40px;
  text-decoration: underline;
}
.news-paggination-num--current {
  color: var(--color-dark-red);
  font-weight: 600;
}

.about {
  max-width: 860px;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .about {
    margin-right: 0;
  }
}

.vakansii {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 780px;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .vakansii {
    max-width: unset;
    margin-right: 0;
  }
}
.vakansii-card {
  padding: 32px;
  border: 2px solid var(--color-black);
  border-radius: 2px;
}
@media (max-width: 767px) {
  .vakansii-card {
    padding: 20px 16px;
  }
}
.vakansii-card__name {
  margin-bottom: 8px;
}
.vakansii-card__name h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
@media (max-width: 767px) {
  .vakansii-card__name h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}
.vakansii-card__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}
.vakansii-card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.vakansii-card__treb {
  margin-top: 24px;
}
.vakansii-card__treb-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14px;
}
.vakansii-card__treb-list {
  margin-bottom: 32px;
}
.vakansii-card__treb-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.vakansii-card__treb-list ul li {
  position: relative;
  padding-left: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.vakansii-card__treb-list ul li::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 0px;
  width: 16px;
  height: 4px;
  background-color: var(--color-dark-red);
}
.vakansii-card__button {
  display: flex;
}

.docs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 860px;
  flex: 1 1 860px;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .docs {
    margin-right: 0;
  }
}
.docs-page {
  margin-top: 64px;
}
@media (max-width: 1024px) {
  .docs-page {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .docs-page {
    margin-top: 64px;
  }
}
.docs-section {
  padding-bottom: 40px;
  border-bottom: 1px solid #D9D9D9;
}
.docs-section:last-child {
  border-bottom: none;
}
@media (max-width: 1024px) {
  .docs-section:last-child {
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .docs-section:last-child {
    padding-bottom: 0px;
  }
}
.docs-section__title {
  margin-bottom: 28px;
}
.docs-section__title h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
.docs-section__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.cur-projects__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 74px;
}
@media (max-width: 1024px) {
  .cur-projects__cards {
    margin-top: 64px;
  }
}
@media (max-width: 767px) {
  .cur-projects__cards {
    gap: 40px;
  }
}
.cur-projects__cards .cur-project-card {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .cur-projects__cards .cur-project-card {
    width: 100%;
  }
}

.detail-news {
  flex: 0 1 860px;
  margin-right: 30px;
}
.detail-news > * {
  margin-bottom: 32px;
}
.detail-news > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .detail-news {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .detail-news + .page-sidebar {
    display: none;
  }
}
.detail-news__main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail-news__date {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-gray);
  margin-bottom: 8px;
}
.detail-news__title {
  margin-bottom: 12px;
}
.detail-news__title h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
.detail-news__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.detail-news__content > * {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 32px;
}
.detail-news__content > *:last-child {
  margin-bottom: 0;
}
.detail-news__content img {
  width: 100%;
  border-radius: 2px;
}
.detail-news__slides {
  position: relative;
}
.detail-news__slides .swiper-pagination {
  bottom: -40px;
}
.detail-news__slides .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 4px;
}
.detail-news__slides .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--color-dark-red);
}